/* GENERAL PAGE RULES */

body {
    font-family: "Karla", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 1.5em;
}

#holder {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
}

a {
	color:#660000;
}

a:hover {
	color:#400000;
}

